### Build the ML Model to predict the salary of employee with his experiance?

**1.Get the data**
- https://github.com/AP-State-Skill-Development-Corporation/Datasets/blob/master/Regression/Salary_Data.csv

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('salary.csv')
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

**2.Preprocessing**

- How many rows and columns in this dataframe?

In [4]:
df.shape

(30, 2)

- What are columns names?

In [5]:
df.columns

Index(['YearsExperience', 'Salary'], dtype='object')

- Is there any issing values?

In [7]:
df.isna().sum()

YearsExperience    0
Salary             0
dtype: int64

In [8]:
- Is there any invalid values?

Object `values` not found.

- Is there any invalid values

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

**3.Train the Model**

- A).we have identify the algarithum
    - here salary is the target and it is continus data related to regression problem
    - We apply the linerRegration alagarithm

- B) Separaate the features(X) and target(y)

In [13]:
X=df[['YearsExperience']]
y=df['Salary']

- C)Split the data for training and texting
    - becaues of less sample we are skippinf this step

- D).Create the object for algarithum

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model=LinearRegression()

- E) Train the model with training data

syntax
--------
```
model.fit(features,target)
```

In [16]:
model.fit(X,y)

LinearRegression()

**4.Test the Model**