## Unsupervised Mechine Learning
### K-Means

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('mallcus.csv')
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
df.columns

Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [5]:
df.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [7]:
df.drop('CustomerID',axis=1,inplace=True)

In [8]:
df.head()

    Genre  Age  Annual Income (k$)  Spending Score (1-100)
0    Male   19                  15                      39
1    Male   21                  15                      81
2  Female   20                  16                       6
3  Female   23                  16                      77
4  Female   31                  17                      40

In [9]:
from sklearn.preprocessing import LabelEncoder
lab=LabelEncoder()

In [10]:
df['Genre']=lab.fit_transform(df['Genre'])
df['Genre']

0      1
1      1
2      0
3      0
4      0
      ..
195    0
196    0
197    1
198    1
199    1
Name: Genre, Length: 200, dtype: int32

In [11]:
df.head()

   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0      1   19                  15                      39
1      1   21                  15                      81
2      0   20                  16                       6
3      0   23                  16                      77
4      0   31                  17                      40

In [13]:
df['Genre'].unique()

array([1, 0])

In [14]:
df['Genre'].value_counts()

0    112
1     88
Name: Genre, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
data_train,data_test=train_test_split(df,random_state=2,
                                     test_size=0.25)

In [19]:
from sklearn.cluster import KMeans

In [21]:
km=KMeans(n_clusters=4)

In [22]:
km.fit(data_train)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=4, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [43]:
pred=km.predict(data_train)
pred

array([0, 3, 3, 2, 0, 3, 2, 3, 1, 2, 0, 1, 1, 2, 3, 0, 1, 3, 1, 1, 1, 3,
       3, 0, 2, 2, 1, 2, 3, 2, 3, 3, 0, 2, 1, 0, 0, 2, 3, 1, 0, 1, 2, 3,
       0, 3, 2, 1, 1, 0, 0, 3, 0, 1, 0, 3, 2, 3, 2, 2, 3, 3, 3, 2, 1, 0,
       1, 1, 2, 3, 2, 0, 0, 3, 1, 0, 2, 3, 2, 1, 3, 0, 2, 0, 2, 1, 2, 2,
       1, 3, 0, 2, 3, 3, 0, 1, 3, 2, 3, 2, 0, 3, 3, 1, 0, 2, 1, 2, 3, 1,
       3, 0, 3, 0, 0, 2, 3, 0, 1, 1, 1, 1, 2, 3, 0, 0, 0, 1, 0, 1, 0, 3,
       2, 2, 3, 0, 3, 1, 2, 2, 2, 0, 3, 0, 0, 0, 3, 2, 3, 0, 2, 2, 2, 0,
       2, 1, 3, 0, 2, 2, 1, 3, 3, 2, 0, 1, 3, 3, 0, 3, 0, 2, 0, 3, 1, 0,
       2, 1, 2, 2, 3, 3, 3, 1, 3, 2, 2, 2, 0, 3, 3, 1, 1, 1, 0, 3, 2, 2,
       1, 0, 0, 3, 0, 2, 3, 1, 3, 0, 3, 3, 3, 3, 3, 0, 0, 0, 1, 0, 2, 1,
       1, 1, 2, 3, 3, 0, 3, 2, 2, 2, 3, 0, 3, 1, 0, 1, 2, 1, 3, 3, 0, 2,
       0, 2, 2, 0, 2, 2, 2, 0, 0, 1, 2, 3, 0, 0, 0, 2, 2, 0, 2, 1, 1, 2,
       3, 1, 3, 0, 2, 0, 0, 3, 3, 3, 1, 2, 0, 2, 1, 3, 0, 3, 2, 3, 3, 2,
       2, 2, 2, 1, 1, 2, 1, 1, 3, 0, 2, 1, 0, 2, 3, 1, 2, 1, 0, 0, 2, 3,
       1, 2, 1, 3, 0, 1, 1, 3, 1, 1, 1, 0, 1, 2, 0, 1, 0, 3, 3, 3, 3, 0,
       1, 2, 2, 2, 0, 3, 2, 3, 2, 0, 3, 1, 0, 3, 3, 3, 2, 1, 1, 2, 0, 3,
       0, 3, 1, 1, 0, 0, 1, 1, 3, 3, 3, 1, 1, 1, 1, 3, 2, 0, 3, 3, 3, 0,
       3, 1, 0, 1, 2, 2, 0, 2, 0, 0, 3, 1, 3, 2, 3, 3, 2, 0, 3, 3, 3, 0,
       0, 0, 2, 2, 2, 0, 1, 3, 0, 3, 3, 3, 3, 0, 1, 1, 0, 2, 1, 2, 1, 0,
       0, 3, 2, 3, 1, 1, 0, 2, 1, 3, 2, 0, 2, 3, 3, 0, 3, 3, 0, 3, 3, 0,
       1, 0, 1, 1, 3, 1, 0, 1, 3, 0, 3, 1, 3, 0, 0, 0, 0, 1, 1, 2, 2, 3,
       3, 3, 3, 3, 1, 0, 1, 1, 3, 3, 0, 1, 1, 3, 1, 1, 2, 0, 0, 1, 3, 2,
       1, 0, 2, 1, 3, 1, 1, 2, 2, 2, 0, 3, 3, 0, 2, 3, 3, 1, 1, 1, 0, 2,
       2, 1, 0, 2, 3, 2, 1, 2, 0, 2, 1, 0, 3, 0, 0, 2, 1, 1, 0, 1, 3, 3,
       1, 2, 0, 1, 2, 2, 1, 2, 3, 1, 1, 1, 2, 2, 0, 1, 0, 0, 1, 3, 3, 1,
       0, 0, 1, 0, 1, 1, 3, 0, 0, 1, 2, 2, 2, 2, 0, 0, 2, 2, 1, 3, 1, 2,
       1, 1, 3, 1, 3, 1, 1, 3, 2, 1, 2, 1, 2, 0, 3, 1, 0, 0, 3, 2, 2, 2,
       0, 0, 3, 3, 2, 3, 1, 0, 3, 3, 3, 2, 2, 2, 3, 0, 1, 0, 0, 1, 1, 2,
       0, 3, 1, 3, 1, 0, 1, 2, 2, 2, 1, 3, 3, 0, 2, 3, 2, 2, 2, 2, 0])

In [44]:
pred_test=km.predict(data_test)
pred_test

array([0, 1, 3, 3, 0, 0, 3, 3, 0, 2, 0, 3, 0, 1, 2, 2, 0, 0, 0, 1, 1, 3,
       1, 1, 3, 0, 0, 2, 0, 3, 2, 0, 1, 1, 2, 1, 0, 1, 2, 0, 2, 3, 2, 2,
       1, 0, 3, 0, 2, 3, 3, 1, 2, 2, 0, 2, 2, 2, 0, 1, 1, 0, 0, 2, 3, 1,
       3, 3, 3, 1, 2, 2, 3, 1, 0, 1, 0, 1, 3, 3, 2, 0, 2, 2, 1, 1, 2, 2,
       0, 2, 1, 3, 1, 0, 3, 3, 1, 2, 1, 3, 1, 1, 3, 3, 1, 3, 2, 1, 0, 1,
       2, 0, 0, 0, 2, 1, 0, 2, 2, 2, 2, 0, 1, 3, 0, 2, 3, 0, 1, 2, 3, 0,
       3, 3, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 0, 0, 1, 1, 1, 0, 3, 0, 1, 2,
       0, 3, 2, 2, 0, 1, 1, 2, 1, 2, 2, 2, 1, 0, 1, 3, 0, 1, 1, 3, 1, 3,
       3, 3, 0, 1, 2, 0, 0, 0, 3, 2, 2, 3, 1, 1, 2, 1, 3, 3, 0, 1, 3, 2,
       1, 1, 2, 2, 1, 2, 2, 3, 0, 2, 3, 0, 3, 1, 1])

### Task

In [25]:
data=pd.read_csv('Cust.csv')
data.head()

,Customer Id,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,Address,DebtIncomeRatio
0,1,41,2,6,19,0.124,1.073,0.0,NBA001,6.3
1,2,47,1,26,100,4.582,8.218,0.0,NBA021,12.8
2,3,33,2,10,57,6.111,5.802,1.0,NBA013,20.9
3,4,29,2,4,19,0.681,0.516,0.0,NBA009,6.3
4,5,47,1,31,253,9.308,8.908,0.0,NBA008,7.2

In [27]:
data.isnull().sum().sum()

150

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Id      850 non-null    int64
 1   Age              850 non-null    int64
 2   Edu              850 non-null    int64
 3   Years Employed   850 non-null    int64
 4   Income           850 non-null    int64
 5   Card Debt        850 non-null    float64
 6   Other Debt       850 non-null    float64
 7   Defaulted        700 non-null    float64
 8   Address          850 non-null    object
 9   DebtIncomeRatio  850 non-null    float64
dtypes: float64(4), int64(5), object(1)
memory usage: 66.5+ KB

In [29]:
data.drop('Address',axis=1,inplace=True)

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Id      850 non-null    int64
 1   Age              850 non-null    int64
 2   Edu              850 non-null    int64
 3   Years Employed   850 non-null    int64
 4   Income           850 non-null    int64
 5   Card Debt        850 non-null    float64
 6   Other Debt       850 non-null    float64
 7   DebtIncomeRatio  850 non-null    float64
dtypes: float64(3), int64(5)
memory usage: 53.2 KB

In [31]:
data.drop('Defaulted',axis=1,inplace=True)

In [33]:
from sklearn.model_selection import train_test_split
data_train,data_test=train_test_split(data,random_state=2,
                                     test_size=0.25)

In [34]:
from sklearn.cluster import KMeans

In [35]:
km=KMeans(n_clusters=4)

In [36]:
km.fit(data_train)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=4, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [37]:
pred=km.predict(data_train)
pred

array([0, 3, 3, 2, 0, 3, 2, 3, 1, 2, 0, 1, 1, 2, 3, 0, 1, 3, 1, 1, 1, 3,
       3, 0, 2, 2, 1, 2, 3, 2, 3, 3, 0, 2, 1, 0, 0, 2, 3, 1, 0, 1, 2, 3,
       0, 3, 2, 1, 1, 0, 0, 3, 0, 1, 0, 3, 2, 3, 2, 2, 3, 3, 3, 2, 1, 0,
       1, 1, 2, 3, 2, 0, 0, 3, 1, 0, 2, 3, 2, 1, 3, 0, 2, 0, 2, 1, 2, 2,
       1, 3, 0, 2, 3, 3, 0, 1, 3, 2, 3, 2, 0, 3, 3, 1, 0, 2, 1, 2, 3, 1,
       3, 0, 3, 0, 0, 2, 3, 0, 1, 1, 1, 1, 2, 3, 0, 0, 0, 1, 0, 1, 0, 3,
       2, 2, 3, 0, 3, 1, 2, 2, 2, 0, 3, 0, 0, 0, 3, 2, 3, 0, 2, 2, 2, 0,
       2, 1, 3, 0, 2, 2, 1, 3, 3, 2, 0, 1, 3, 3, 0, 3, 0, 2, 0, 3, 1, 0,
       2, 1, 2, 2, 3, 3, 3, 1, 3, 2, 2, 2, 0, 3, 3, 1, 1, 1, 0, 3, 2, 2,
       1, 0, 0, 3, 0, 2, 3, 1, 3, 0, 3, 3, 3, 3, 3, 0, 0, 0, 1, 0, 2, 1,
       1, 1, 2, 3, 3, 0, 3, 2, 2, 2, 3, 0, 3, 1, 0, 1, 2, 1, 3, 3, 0, 2,
       0, 2, 2, 0, 2, 2, 2, 0, 0, 1, 2, 3, 0, 0, 0, 2, 2, 0, 2, 1, 1, 2,
       3, 1, 3, 0, 2, 0, 0, 3, 3, 3, 1, 2, 0, 2, 1, 3, 0, 3, 2, 3, 3, 2,
       2, 2, 2, 1, 1, 2, 1, 1, 3, 0, 2, 1, 0, 2, 3, 1, 2, 1, 0, 0, 2, 3,
       1, 2, 1, 3, 0, 1, 1, 3, 1, 1, 1, 0, 1, 2, 0, 1, 0, 3, 3, 3, 3, 0,
       1, 2, 2, 2, 0, 3, 2, 3, 2, 0, 3, 1, 0, 3, 3, 3, 2, 1, 1, 2, 0, 3,
       0, 3, 1, 1, 0, 0, 1, 1, 3, 3, 3, 1, 1, 1, 1, 3, 2, 0, 3, 3, 3, 0,
       3, 1, 0, 1, 2, 2, 0, 2, 0, 0, 3, 1, 3, 2, 3, 3, 2, 0, 3, 3, 3, 0,
       0, 0, 2, 2, 2, 0, 1, 3, 0, 3, 3, 3, 3, 0, 1, 1, 0, 2, 1, 2, 1, 0,
       0, 3, 2, 3, 1, 1, 0, 2, 1, 3, 2, 0, 2, 3, 3, 0, 3, 3, 0, 3, 3, 0,
       1, 0, 1, 1, 3, 1, 0, 1, 3, 0, 3, 1, 3, 0, 0, 0, 0, 1, 1, 2, 2, 3,
       3, 3, 3, 3, 1, 0, 1, 1, 3, 3, 0, 1, 1, 3, 1, 1, 2, 0, 0, 1, 3, 2,
       1, 0, 2, 1, 3, 1, 1, 2, 2, 2, 0, 3, 3, 0, 2, 3, 3, 1, 1, 1, 0, 2,
       2, 1, 0, 2, 3, 2, 1, 2, 0, 2, 1, 0, 3, 0, 0, 2, 1, 1, 0, 1, 3, 3,
       1, 2, 0, 1, 2, 2, 1, 2, 3, 1, 1, 1, 2, 2, 0, 1, 0, 0, 1, 3, 3, 1,
       0, 0, 1, 0, 1, 1, 3, 0, 0, 1, 2, 2, 2, 2, 0, 0, 2, 2, 1, 3, 1, 2,
       1, 1, 3, 1, 3, 1, 1, 3, 2, 1, 2, 1, 2, 0, 3, 1, 0, 0, 3, 2, 2, 2,
       0, 0, 3, 3, 2, 3, 1, 0, 3, 3, 3, 2, 2, 2, 3, 0, 1, 0, 0, 1, 1, 2,
       0, 3, 1, 3, 1, 0, 1, 2, 2, 2, 1, 3, 3, 0, 2, 3, 2, 2, 2, 2, 0])

In [38]:
pred_test=km.predict(data_test)
pred_test

array([0, 1, 3, 3, 0, 0, 3, 3, 0, 2, 0, 3, 0, 1, 2, 2, 0, 0, 0, 1, 1, 3,
       1, 1, 3, 0, 0, 2, 0, 3, 2, 0, 1, 1, 2, 1, 0, 1, 2, 0, 2, 3, 2, 2,
       1, 0, 3, 0, 2, 3, 3, 1, 2, 2, 0, 2, 2, 2, 0, 1, 1, 0, 0, 2, 3, 1,
       3, 3, 3, 1, 2, 2, 3, 1, 0, 1, 0, 1, 3, 3, 2, 0, 2, 2, 1, 1, 2, 2,
       0, 2, 1, 3, 1, 0, 3, 3, 1, 2, 1, 3, 1, 1, 3, 3, 1, 3, 2, 1, 0, 1,
       2, 0, 0, 0, 2, 1, 0, 2, 2, 2, 2, 0, 1, 3, 0, 2, 3, 0, 1, 2, 3, 0,
       3, 3, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 0, 0, 1, 1, 1, 0, 3, 0, 1, 2,
       0, 3, 2, 2, 0, 1, 1, 2, 1, 2, 2, 2, 1, 0, 1, 3, 0, 1, 1, 3, 1, 3,
       3, 3, 0, 1, 2, 0, 0, 0, 3, 2, 2, 3, 1, 1, 2, 1, 3, 3, 0, 1, 3, 2,
       1, 1, 2, 2, 1, 2, 2, 3, 0, 2, 3, 0, 3, 1, 1])

#### Task2 Classification Algorithum

In [73]:
data=pd.read_csv('daibet.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [45]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [48]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [50]:
from sklearn.preprocessing import StandardScaler

In [51]:
scal=StandardScaler()

In [52]:
data_dum=scal.fit_transform(data)

c:\users\lenovo_pc\appdata\local\programs\python\python36\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
c:\users\lenovo_pc\appdata\local\programs\python\python36\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [66]:
data_dum.shape

(768, 9)

In [54]:
y=data['Outcome']

In [55]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data_dum,y,random_state=5,test_size=0.3)

In [56]:
from sklearn.tree import DecisionTreeRegressor

In [57]:
model=DecisionTreeRegressor()

In [58]:
model.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [60]:
model.score(x_train,y_train)*100

100.0

In [61]:
model.score(x_test,y_test)*100

100.0

In [76]:
out=model.predict([[-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
       -0.68442195, -0.36506078, -0.19067191, -0.73212021 ]])
print(out)

[0.]

In [71]:
data_dum[1]

array([-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
       -0.68442195, -0.36506078, -0.19067191, -0.73212021])